html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,textarea{margin:0;padding:0;border:0;vertical-align:baseline;box-sizing:border-box}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

body {
    font-size: 10px;
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Custom Css */

html{
    height: 100%;
    overflow: hidden;
}
body {
    
    color: #dde7df;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    height: 100%;
    background: url('../img/austin-skyline.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
 
 
/* Header */

h1 {
    font-size: 4.65em;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 7px;
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 5px #000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
}
h3.tagline {
    font-size: 1.5em;
    letter-spacing: 1.25px;
    margin-top: 8px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
h3.tagline i {
    font-size: .3em;
    position: relative;
    top: -3px;
}
a {
    color: #dde7df;
}
ul.nav {
    position: absolute;
    right: 5%;
    bottom: 40%;
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
}
ul.nav li {
    float: left;
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
}
ul a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0 2px;
    font-weight: 300;
}
.rotate {
    /* Safari */
    
    -webkit-transform: rotate(8deg);
    /* Firefox */
    
    -moz-transform: rotate(8deg);
    /* IE */
    
    -ms-transform: rotate(8deg);
    /* Opera */
    
    -o-transform: rotate(8deg);
    /* Internet Explorer */
    
    -ms-transform: rotate(8deg);
}
.dv ul.nav {
    display: block !important;
}
.roll-link {
    display: inline-block;
    overflow: hidden;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.roll-link a {
    display: block;
    position: relative;
    padding: 0 2px;
    text-shadow: 2px 2px 5px #000;
 
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.roll-link a:after {
     content: "[" attr(title) "]";
    display: block;
    position: absolute;
     
    left: 0;
    top: 0;
    padding: 0 2px;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translate3d( 0px, 0px, -20px) rotateX( 90deg);
    -moz-transform: translate3d( 0px, 0px, -20px) rotateX( 90deg);
    -ms-transform: translate3d( 0px, 0px, -20px) rotateX( 90deg);
    transform: translate3d( 0px, 0px, -20px) rotateX( 90deg);
}
 
.roll-link:hover a {
    color: #dde7df;
    -webkit-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    -moz-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    -ms-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
}
.dv span.toggle {
    display: none;
}
header {
    position: absolute;
    z-index: 3;
    width: 100%;
    min-height: 130px;
    height: 25%;
    background: url('../img/header-bg.png') no-repeat;
    background-size: contain;
    background-position: top right;
}
.headline {
    position: absolute;
    top: 22%;
    left: 2%;
}
section {
    position: absolute;
    z-index: 3;
    width: 45%;
    right: 0;
    top: 20%;
    margin-right: 20%;
}
section p {
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 1.8em;
    text-shadow: 2px 2px 5px #000;
    font-family: 'Josefin Sans', sans-serif;
}
article{
    overflow: hidden;
}
.wrapper {
    margin-top: 5%;
    overflow: hidden;
}
/* Footer */

footer .footer-bg{
    position: absolute;
    height: 275px;
    width: 115%;
    background: url('../img/footer-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 3;
    left: -50px;
    bottom: -200px;
}
 
footer .footer-wrapper {

    position: absolute;
    bottom: 2%;
    left: 2%;
    margin-left: -5px;
    z-index: 3;
}
footer p {
    font-size: 1.2em;
    color: #dde7df;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    margin: 20px 0 10px 4px;
}
footer ul.icons {
    font-size: 1.2em;
    width: 300px;
}
footer ul.icons li {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #ede4e4;
    width: 30px;
}
footer ul a {
    text-decoration: none;
    display: block;
    position: relative;
    width: auto;
    padding: 0;
    font-size: 1.25em;
}
footer ul a i.fa {
    vertical-align: middle;
    display: block;
    color: #dde7df;
    padding: 4px;
    text-align: center;
    width: 100%;
    -webkit-transition: all 1s ease;
    /* For Safari 3.1 to 6.0 */
    
    transition: all 1s ease;
}
.no-touch footer ul a i.fa-facebook:hover {
    background: #dde7df;
    color: #0a0909;
}
.no-touch footer ul a i.fa-twitter:hover {
    color: #0a0909;
    background: #dde7df;
}
.no-touch footer ul a i.fa-linkedin:hover {
    color: #0a0909;
    background: #dde7df;
}
.no-touch footer ul a i.fa-github:hover {
    color: #0a0909;
    background: #dde7df;
}
 

 
 
.dot-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/dot.png') repeat;
    position: absolute;
    z-index: 1;
}
.dot-overlay.darker {
    display: none;
    background-position: 0px -2px;
}
.dot-overlay.darker.next {
    background-position: 2px -2px;
}
 
/* About */

.my-pic {
    width: 30%;
    float: left;
    margin-right: 20px;
    max-width: 150px;   
}
/* Portfolio  */

.getModal, .resume-btn{
    font-size: 1.4em;
    background: #0a0909;
    text-decoration: none;
    cursor: pointer;
    color: #dde7df;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0 0;
    outline: none;
    box-shadow: 2px 2px 5px #000;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    float: right;
}
.getModal:hover , .resume-btn:hover, .email-btn:hover {
    background: #111;
}
/* Contact */

.info-box {
    float: left;
    width: 50%;
}
section #contact-page h4 {
    font-size: 2em;
    margin-bottom: 7px;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 3px;
}
section #contact-page p {
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 1.8em;
    text-shadow: 2px 2px 5px #000;
    font-family: 'Josefin Sans', sans-serif;
}
section .info-box p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
#contact-form {
    float: left;
    width: 50%;
}
form input[type="text"],
form textarea {
    resize: none;
    background: #000 !important;
    border: none !important;
    color: #dde7df;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px #000;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 1.4em;
    min-width: 50%;
    overflow: hidden;
}
form input[type="text"]:focus,
form textarea:focus {
    outline: 1px solid #0a0909;
}
form textarea {
    width: 100%;
    height: 100px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background: #333 !important;
    background-color: #333 !important;
    border: none !important;
}
input[type="text"] {
    float: left;
    clear: both;
}
textarea {
    float: left;
}
.email-msg {
    display: none;
    position: absolute;
    background: #0a0909;
    text-align: center;
    padding: 15px;
    border: 2px solid #dde7df;
    color: #dde7df;
}

.email-btn {
    clear: both;
    display: block;
    float: right;
    background: #0a0909;
    cursor: pointer;
    color: #dde7df;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0 0;
    outline: none;
    box-shadow: 2px 2px 5px #000;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
 

/* Modal */

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    font-size: 2em;
    display: none;
}
.close-modal {
    font-size: 2em;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    z-index: 1;
}
#cylinder-container {
    position: relative;
    height: 100%;
    transform: translateZ(1000px);
    -webkit-transform: translateZ(1000px);
    overflow: hidden;
}
#cylinder-wrapper {
    padding-top: 5%;
    width: 700px;
    height: 400px;
    margin: auto;
}
#surface {
    margin: auto;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.card {
    position: absolute;
    background: #000;
    opacity: .85;
    /* Fix jagged edges in firefox */
    
    outline: 1px solid transparent;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.card:hover {
    opacity: 1;
    -webkit-box-shadow:  1px 1px 2px rgba(241,241,241,1),-1px 1px 2px rgba(241,241,241,1),1px -1px 2px rgba(241,241,241,1),-1px -1px 2px rgba(241,241,241,1);
    box-shadow: 1px 1px 2px rgba(241,241,241,1),-1px 1px 2px rgba(241,241,241,1),1px -1px 2px rgba(241,241,241,1),-1px -1px 2px rgba(241,241,241,1);
}
.card img {
    width: 100%;
    height: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}

/* Tablet View */

@media screen and (max-width: 1024px) {
    
    body {
        font-size: 10px;
    }
    .dot-overlay {
        display: block;
    }
     
    header {
        position: fixed;
        z-index: 4;
        width: 100%;
        height: 70px;
        min-height: 0;
        box-shadow: 0px 5px 10px #000;
        background: url('../img/gray-bg.png') repeat;
    }
    .headline {
        position: absolute;
        top: 10px;
        left: 15px;
    }
    header h1 {
	  font-size: 3.25em;
	  font-weight: 400;
	  letter-spacing: 6px;
	}
    h2 {
        font-size: 3.5em;
    }
    h3.tagline {
	  font-size: 1.075em;
	  letter-spacing: 1px;
	  margin-top: 6px;
	}
    span.toggle {
        font-size: 3.5em;
        position: absolute;
        right: 15px;
        top: 10px;
        display: block;
        padding: 8px;
        cursor: pointer;
    }
    .roll-link {
        display: inline-block;
        overflow: hidden;
        -webkit-perspective: 0px;
        -moz-perspective: 0px;
        -ms-perspective: 0px;
        perspective: 0px;
        -webkit-perspective-origin: 0% 0%;
        -moz-perspective-origin: 0% 0%;
        -ms-perspective-origin: 0% 0%;
        perspective-origin: 0% 0%;
    }
    .roll-link a {
        display: block;
        position: relative;
        padding: 12px 10px;
        text-shadow: 2px 2px 5px #000;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        transition: none;
        -webkit-transform-origin: 50% 50% 0%;
        -moz-transform-origin: 50% 50% 0%;
        -ms-transform-origin: 50% 50% 0%;
        transform-origin: 50% 50% 0%;
        -webkit-transform-style: flat;
        -moz-transform-style: flat;
        -ms-transform-style: flat;
        transform-style: flat;
    }
    .roll-link a:after {
        content: "";
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 2px;
        -webkit-transform-origin: 50% 50% 0%;
        -moz-transform-origin: 50% 50% 0%;
        -ms-transform-origin: 50% 50% 0%;
        transform-origin: 50% 50% 0%;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .roll-link:hover a {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .rotate {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -ms-transform: none;
    }
    ul.nav {
        display: none;
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        font-size: 2em;
        letter-spacing: 5px;
        text-transform: uppercase;
        background: #333;
        top: 70px;
        border-bottom: 3px solid #191616;
        box-shadow: inset 0px 5px 10px #000;
        padding-top: 10px;
    }
    ul.nav li {
        float: none;
        display: inline-block;
        padding: 0;
        width: 100%;
    }
    section {
        position: relative;
        z-index: 3;
        width: 100%;
        right: 0;
        top: 70px;
        margin: 0;
        padding: 20px 5% 170px;
        overflow: auto;
        height: 100%;
        margin: 0 auto;
    }
    section .push{
        display: block;
        clear: both;
        height: 75px;
    }
    #modal {
        overflow: hidden;
    }
     
    footer {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        background: url('../img/gray-bg.png') repeat;
        height: 70px;
        box-shadow: 0px -5px 10px #000;
        overflow: hidden;
    }
    footer .footer-bg{
        display: none;
    }
    
    footer .footer-wrapper {
        position: absolute;
        bottom: 0px;
        left: 15px;
        margin-left: -5px;
    }
    footer ul.icons {
        font-size: 1em;
        width: 300px;
    }
    footer ul.icons li {
        display: inline-block;
        margin: 0 10px;
        width: 30px;
    }
    footer ul.icons li:first-child {
      margin: 0 10px 0 5px;
    }
    footer p {
        font-size: 1.2em;
        color: #dde7df;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 1px;
        margin: 10px 0 10px 4px;
    }
    .email-msg {
        width: 320px;
        left: 50%;
        margin-left: -160px;
    }
    /* Portfolio */
    
    ul.mobile-project {
        width: 100%;
        padding: 75px 7% 5%;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
    }
    ul.mobile-project li {
        float: left;
        width: 45%;
        margin: 2.5%;
    }
    ul.mobile-project img {
        width: 100%;
    }
	 
}
/* Mobile View */

@media screen and (max-width: 767px) {
     section{
        font-size: 9px;
     }
      
}
@media screen and (max-width: 500px) {
    .my-pic {
        width: 30%;
        float: none;
        margin-right: 20px;
        min-width: 100px;
        margin: 0 auto;
        display: block;
    }
    #contact-form {
        display: none;
    }
    .info-box {
	  width: 100%;
	}
     
}
@media screen and (max-width: 400px) {
   
    header {
      height: 60px;
    }
    header h1 {
      font-size: 2.25em;
      letter-spacing: 6px;
    }
    h3.tagline {
      font-size: .77em;
      letter-spacing: 1px;
      margin-top: 8px;
    }
    span.toggle {
      font-size: 3em;
      position: absolute;
      right: 15px;
      top: 7px;
      display: block;
      padding: 8px;
      cursor: pointer;
    }
    ul.nav {
      top: 60px;
      font-size: 16px;
    }
    section{
        font-size: 8px;
        margin: 0 auto -60px;

    }
    footer ul.icons {
      font-size: 1em;
      width: auto;
      text-align: center;
    }
    footer .footer-wrapper {
      position: relative;
      top: 15px;
      left: 0;
      margin-left: 0px;
      bottom: 0;
    }
    footer p {
        margin-top: 10px;
        font-size: 1em;
        text-align: center;
    }
}

