html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	font-size: 10px;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Css */
html, body{
	color: #dde7df;
	font-family: 'Merriweather', serif;
	height: 100%;
	background: #191616;
	min-height: 400px;
}

 
/* Header */
h1{
	font-size: 4.2em;
	font-weight: 700;
	text-shadow: 2px 2px 2px #000;
}
h2{
	font-size: 3.2em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 2px 2px 5px #000;
}
h3.tagline{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.6em;
	letter-spacing: 3.5px;
	margin-top: 8px;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #000;
}
h3.tagline i{
	font-size: .3em;
	position: relative;
	top: -3px;
}
 
a{
	color: #dde7df;
}
ul.nav{

	position: absolute;
	right: 5%;
	bottom: 40%;
	width: 500px;
	font-size: 2em;
	letter-spacing: 5px;
	text-transform: uppercase;
}
ul.nav li{
	float: left;
	display: inline-block;
	padding: 5px 8px;
}
ul a{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 0 2px;
 
}
.roll-link {
	display: inline-block;
	overflow: hidden;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}

.roll-link a {
	display: block;
	position: relative;
	padding: 0 2px;
	text-shadow: 2px 2px 5px #000;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.roll-link a:after {
	content:  "[" attr(title) "]";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 2px;

	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;

	-webkit-transform: translate3d( 0px, 0px, -20px ) rotateX( 90deg );
	-moz-transform: translate3d( 0px, 0px, -20px ) rotateX( 90deg );
	-ms-transform: translate3d( 0px, 0px, -20px ) rotateX( 90deg );
	transform: translate3d( 0px, 0px, -20px ) rotateX( 90deg );

}

.roll-link:hover a {

	color:#fff;
	-webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	-moz-transform: translate3d( 0px,  105%, 0px ) rotateX( -90deg );
	-ms-transform: translate3d( 0px,  105%, 0px ) rotateX( -90deg );
	transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

 

header {
	position: absolute;
	z-index: 3;
	width: 100%;
	min-height: 130px;
	height: 25%;
	background: url('../img/header-bg.png') no-repeat;
	background-size: contain;
	background-position: top right;
}
.headline{
	position: absolute;
	top: 22%;
	left: 4%;
}


section{
	position: absolute;
	z-index: 3;
	width: 40%;
	right: 0;
	top: 15%;
	margin-right: 20%;
}
section p{
	font-size: 1.6em;
	letter-spacing: 1px;
	line-height: 1.2;
}
.wrapper{
	margin-top: 5%;
}


/* Footer */
footer{

	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	background: url('../img/footer-bg.png') no-repeat;
	background-size: contain;
	background-position: bottom left;
	height: 100%;
}
footer p{
	position: absolute;
	bottom: 30px;
	font-size: 1.2em;
	color: #666;
	left: 20px;
	text-shadow: 2px 2px 5px #000;
}
footer ul.icons{
	position: absolute;
	bottom: 60px;
	font-size: 1.2em;
	left: 10px;
	width: 300px;
}
footer ul.icons li{
 
	display: inline-block;
	margin: 0 8px;
	 
}
footer ul a{
	text-decoration: none;
	display: block;
	position: relative;
	width: 30px;
	padding: 0;

}
 
  
footer ul a i.fa {

	vertical-align: middle;
	display: block;
	color: #181818;
	background: #666;
	padding: 4px;
	 
	text-align: center;
	border-radius: 10%;
	margin: 8px;
	width: 100%;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
footer ul a i.fa-facebook:hover {
	background: #3b5998;
	
}
footer ul a i.fa-twitter:hover {
	background: #55acee;
	 
}
footer ul a i.fa-linkedin:hover {
	background: #007bb6;
	 
}
footer ul a i.fa-github:hover {
	background: #000;
	 
}
footer ul a i.fa:hover {
	margin: 6px;
 	color: #dde7df;
 	border-radius: 20%;
	box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

/* Video */
.video-wrapper{
	position: relative;
	max-height: 100%;
	overflow: hidden;
}
video{
	margin-top: -5%;
}
.video-overlay{
	width: 100%;
	height: 100%;
	background: url('../img/dot.png') repeat;
	position: absolute;
	z-index: 1;
}
.video-overlay.darker{
	display: none;
	background-position: 0px -2px;
}
.video-overlay.darker.next{
	 
	background-position: 2px -2px;
}
 

/* About */

.my-pic{
	width: 30%;
	float: left;
	margin-right: 20px;
}
 

/* Portfolio  */
.getModal{
	background: #000;
	color: #fff;
}

 

/* Contact */
.info-box{
	float: left;
	width: 50%;
}
section #contact  h4{
	font-size: 1.8em;
	margin-bottom: 10px;
	text-shadow: 2px 2px 5px #000;
}
section .info-box p{
	font-size: 1.5em;
	margin-bottom: 20px;
}
#contact-form{
	float: left;
	width: 50%;
}
 
form input[type="text"], form textarea{
	resize: none;
	background: #000 !important;
	border: none !important;
	color: #dde7df;
	padding: 5px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 5px #000;
}
form textarea{
	width: 100%;
	height: 100px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: #333 !important;
	background-color: #333 !important;
	border: none !important;
	}
input[type="text"] {
	float: left;
	clear: both;
}
textarea{
	float: left;
}
.email-msg{
	display: none;
}
#email-btn{
	clear: both;
	display: block;
	float: right;
	background: transparent;
	cursor: pointer;
	font-size: 1.4em;
	text-transform: uppercase;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	margin: 0px 0px 0px 0px;
	color: #fff;
	border: 3px solid #000;
	padding: 3px 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 3px;
	 
}
#email-btn:hover{
	background: #111;
}
.rotate {

/* Safari */
-webkit-transform: rotate(8deg);

/* Firefox */
-moz-transform: rotate(8deg);

/* IE */
-ms-transform: rotate(8deg);

/* Opera */
-o-transform: rotate(8deg);

/* Internet Explorer */
-ms-transform: rotate(8deg);

}

/* Modal */
 
#modal{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	font-size: 2em;
}
 
.close-modal{
	font-size: 2em;
	position: absolute;
	right: 50px;
	top: 50px;
	cursor: pointer;
	z-index: 1;
}
#cylinder-container {
	position: relative;
	height: 100%;
	transform: translateZ(1000px);
	-webkit-transform: translateZ(1000px);
	overflow: hidden;
}
 
#cylinder-wrapper{
	padding-top: 5%;
	width: 100%;
	height: 100%;
	margin: auto;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
#surface {
	margin: auto;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.card {
	position: absolute;
	display: block;

	border-radius: 5%;
	/* Fix jagged edges in firefox */
	outline: 1px solid transparent;

    
 
}
.card img{
	width: 100%;
	height: 100%;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;

}
    
 