html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,textarea{margin:0;padding:0;border:0;vertical-align:baseline;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

body{
	margin: 0;
	padding:0;
}

h1{
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid #000;
	background: #194874;
	color: #fff;
}
section ul{
	margin: 0 auto;
	overflow: hidden;
  	height: 300px;
  	max-width: 1000px;
  	overflow-y: scroll;
}
li{
	padding: 0;
  	margin: 0;
  	list-style: none;
}

section ul .date{
	float: left;
}
section ul .title{
	display: block;
  	padding-left: 150px;
}