<h2>Contact</h2>
<div class="wrapper">
<div class="info-box">
       
      <h4>Location</h4>
      <p>Austin, TX 78701</p> 
      <h4>Phone</h4>
      <p>512-769-0980</p>
      <h4>Email</h4>  
      <p>jim@jimhooper.me</p>
</div>
<form action="" method="post" id="contact-form">
  <h4>Email Me</h4>
   <input id="form-name" placeholder="Name" type="text" maxlength="30" name="name" tabindex="1" /> 
   <input id="form-email" placeholder="Email" type="text" maxlength="30" name="email" tabindex="2" />
   <textarea id="form-text" placeholder="Message" name="comment" tabindex="3"></textarea> 
   
   <input id="email-btn"  type="submit"  name="submit" tabindex="4" value="Send Email" /> 
</form>
<p class="email-msg success">Thank You!<br />Your Email Has Been Sent.</p>
<p class="email-msg no-success">Sorry, Your Email Was NOT Sent.<br /> Please Try Again Later.</p>
</div>

 
 